*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  /* overflow: auto; */
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.Register__Block {
  min-height: 630px;
  width: 480px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 35%;
  padding: 20px;
  border-radius: 19px;
  padding: 30px;
}

.Register__Block h1 {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding-top: 40px;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.Register__Input {
  width: 100%;
  position: relative;
}

.Register__Input label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  color: white;
}

.Register__Input input {
  padding: 3px 15px;
  width: 100%;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 9px;
}

.Register__Input input::placeholder {
  color: #8ea9ad;
  font-weight: 300;
  font-size: 15px;
}
.Register__Icon1 {
  position: absolute;
  top: 50%;
  right: 20px;
  color: #00717f;
}
.Register__Icon2 {
  position: absolute;
  top: 50%;
  right: 20px;
  color: #00717f;
}

.error_notification {
  font-size: 15px;
  font-weight: 500;
  margin: auto;
  color: #e77e80;
  line-height: 1.5;
  background-color: #9c2b2e;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  border: solid 1px #9c2b2e;
}

.Register__Button {
  height: 50px;
  width: 380px;
  width: 100%;
  margin-top: 30px;
  background-color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  border-radius: 9px;
  font-weight: bolder;
}
.Register__Button:hover {
  filter: brightness(80%);
}

.Login__Button:hover {
  filter: brightness(80%);
}

.Login__Block {
  min-height: 480px;
  width: 480px;
  margin-top: 100px;
  margin-left: 35%;
  border-radius: 19px;
  padding: 30px;
}

.Login__Block h1 {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 500;
  padding-top: 40px;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.Login__Input {
  width: 100%;
  position: relative;
}

.Login__Input label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  color: white;
}

.Login__Input input {
  padding: 3px 15px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  height: 50px;
  width: 100%;
  border: 1px solid grey;
  border-radius: 9px;
  background-image: linear-gradient(to right, #59898f, #2f4244);
}

.Login__Input__error input {
  border: 1.5px solid #9c2b2e;
}

.Login__Input input::placeholder {
  color: #8ea9ad;
  font-weight: 300;
  font-size: 15px;
}
.Login__Icon1 {
  position: absolute;
  top: 50%;
  right: 20px;
  color: #00717f;
}

.Login__Button {
  height: 50px;
  width: 380px;
  width: 100%;
  margin-top: 30px;
  background-color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  border-radius: 9px;
  font-weight: bolder;
}

.Login__Text {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-align: center;
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
}

.Forgot {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-left: 300px;
  margin-top: 30px;
  color: white;
}
.Survey__Block {
  max-height: 770px;
  width: 800px;
  margin: 30px auto;
  /* margin-top: 30px; */
  border-radius: 29px;
  padding: 30px;
}

.survey__block__head {
  text-align: center;
}

.survey__block__head p {
  margin-top: 10px;
}

.Survey__Block button {
  height: 50px;
  width: 200px;
  margin-left: 540px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  border-radius: 9px;
  color: white;
  font-weight: bolder;
  margin-top: 20px;
}
.Survey__Block button:hover {
  filter: brightness(90%);
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  padding-top: 20px;
}

.Activity__Block {
  margin-top: 30px;
  margin-left: 45px;
  height: 80px;
  width: 700px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  row-gap: 30px;
  border-radius: 19px;
  border: 1.5px solid black;
}

.Activity__Name {
  height: 60px;
  width: 300px;
  margin-left: 5px;
  border-radius: 19px;
  padding-left: 25px;
  padding-top: 18px;
  font-family: 'Poppins', sans-serif;
  color: aqua;
  font-size: 20px;
  font-weight: bolder;
}
.Activity__Start {
  display: flex;
  align-items: center;
  height: 60px;
  width: 180px;
  background-color: #00717f;
  margin-left: 300px;
  border-radius: 19px;
}
.Activity__Start select {
  border: none;
  height: 60px;
  width: 180px;
  padding: 20px;
  padding-left: 45px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bolder;
}
